{
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "parser": "markdown",
        "printWidth": 900,
        "tabWidth": 2,
        "useTabs": false,
        "semi": false,
        "trailingComma": "none",
        "bracketSameLine": false
      }
    }
  ]
}
