.u-section-7 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../../images/page/background-footer.jpg");
    /* background-repeat: space; */
    background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
    min-height: 411px;
}

.u-section-7 .u-text-1 {
    width: 670px;
    font-size: 1.25rem;
    margin: 60px auto 0;
}

.u-section-7 .u-social-icons-1 {
    white-space: nowrap;
    height: 48px;
    min-height: 16px;
    width: 320px;
    min-width: 160px;
    margin: 31px auto 0;
}

.u-section-7 .u-icon-1 {
    height: 100%;
}

.u-section-7 .u-icon-2 {
    height: 100%;
}

.u-section-7 .u-icon-3 {
    height: 100%;
}

.u-section-7 .u-icon-4 {
    height: 100%;
}

.u-section-7 .u-icon-5 {
    height: 100%;
}

.u-section-7 .u-text-2 {
    width: 527px;
    letter-spacing: 2px;
    margin: 30px auto 60px;
}

.u-section-7 .u-btn-1 {
    border-style: none none solid;
    padding: 0;
}

@media (max-width: 1199px) {
    .u-section-7 .u-sheet-1 {
        min-height: 339px;
    }
    .u-section-7 .u-text-1 {
        height: 64px;
    }
}

@media (max-width: 991px) {
    .u-section-7 .u-sheet-1 {
        min-height: 260px;
    }
}

@media (max-width: 767px) {
    .u-section-7 .u-sheet-1 {
        min-height: 195px;
    }
    .u-section-7 .u-text-1 {
        width: 540px;
    }
}

@media (max-width: 575px) {
    .u-section-7 .u-sheet-1 {
        min-height: 123px;
    }
    .u-section-7 .u-text-1 {
        width: 340px;
    }
    .u-section-7 .u-text-2 {
        width: 340px;
    }
}